/* src/styles.css */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  padding: 10px;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  text-align: center;
  padding: 20px;
}

.header {
  background-color: #ff9800;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.container-card {
  display: flex;
  flex-direction: column;
  color: #101f3a;
}

.food-truck-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.randomize-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.randomize-button:hover {
  background-color: #45a049;
}
